

body{
    font-family: 'Shadows Into Light', cursive;
    background: #ddd;
    text-align: center;
}
/*
#content{
    margin-left:20%;
}
*/
.button{   
        border: none;
        color: white;
        border-radius:5px;
        width: 100px;
        margin:4px;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
    
}

.button:hover{
    cursor:pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#container {
   /*border: solid;*/ 
    background:whitesmoke;
    margin-left:25%;
    margin-right:25%;
    /*height: 0px;
    width:0px;*/

}

.square, .randColor{
    border-radius:50%;
    width: 10px;
    height: 10px;
    /*outline: 1px solid;*/
    background:white;
   float:left;
}

#black{
    background-color: black; /* Green */
}
#randColor{
    background-color: cornflowerblue;
}
#generation{
    background-color:grey;
}
/*
.square.black{
    background: #000;
}*/

